<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cute.java.modular.system.dao.MemberShopMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cute.java.modular.system.model.MemberShop">
        <id column="m_id" property="mId" />
        <result column="shop_name" property="shopName" />
        <result column="logo" property="logo" />
        <result column="status" property="status" />
        <result column="addtime" property="addtime" />
        <result column="endtime" property="endtime" />
        <result column="tel" property="tel" />
        <result column="email" property="email" />
        <result column="customer_url" property="customerUrl" />
        <result column="business_license" property="businessLicense" />
        <result column="prov" property="prov" />
        <result column="city" property="city" />
        <result column="area" property="area" />
        <result column="address" property="address" />
        <result column="desc" property="desc" />
        <result column="goods_comment" property="goodsComment" />
        <result column="level" property="level" />
        <result column="balance" property="balance" />
        <result column="banner_url" property="bannerUrl" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        m_id AS mId, shop_name AS shopName, logo, status, addtime, endtime, tel, email, customer_url AS customerUrl, business_license AS businessLicense, prov, city, area, address, desc, goods_comment AS goodsComment, level, balance, banner_url AS bannerUrl
    </sql>

</mapper>
